<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ items.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ items.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
         {{ basket_form.hidden_tag() }}
        <h4 class="text-center">BUY {{ items.description }}</h4>
         {{ basket_form.submit(class="btn") }}
        </form>
      </div>
      <div class="modal-footer">
        <input id="add_to_basket" name="add_to_basket" type="hidden" value="{{ items.name }}">

      </div>
    </div>
  </div>
</div>