{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <div class="background-container"></div>
  <div class="container mt-5" style="width: 576px; max-width: 90%; z-index: 5;">
    {% include 'includes/flashed_messages.html' %}
  </div>
  <div class="container py-4">
    <div class="card mx-auto border-0" style="max-width: 576px;">
      <div class="card-body">
        <h1 class="text-center">About FemInstant</h1>
        <p class="lead">FemInstant is the app catered towards meeting the demand for essential feminine products, bought to you by an all-girl team!</p>
        <p>Whether you’re a working woman, a busy mum, or a savvy student, sometimes you just need what you need, when you need it - delivered directly to you.</p>
        <p>At FemInstant we have products across a variety of essential categories from haircare to hygiene, beauty and beyond... so whether it’s an unexpected appearance from Mother Nature, an impromptu night out, or you just fancy all your beauty essentials easily delivered instantly - we’ve got it covered.</p>
        <p>Simply sign up, scroll through and checkout to have your FemInstant goodies delivered within hours of purchase!</p>
        <p class="lead">Happy Shopping FemInstant Fam &hearts;</p>
      </div>
    </div>
  </div>
{% endblock %}