{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
  <form method="POST">
    {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.inputAddress1.label(class="form-label") }}
        {% if form.inputAddress1.errors %}
          {{ form.inputAddress1(class="form-control is-invalid") }}
          {% for error in form.inputAddress1.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% else %}
          {{ form.inputAddress1(class="form-control") }}
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.inputAddress2.label(class="form-label") }}
        {% if form.inputAddress2.errors %}
          {{ form.inputAddress2(class="form-control is-invalid") }}
          {% for error in form.inputAddress2.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% else %}
          {{ form.inputAddress2(class="form-control") }}
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.inputCity.label(class="form-label") }}
        {% if form.inputCity.errors %}
          {{ form.inputCity(class="form-control is-invalid") }}
          {% for error in form.inputCity.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% else %}
          {{ form.inputCity(class="form-control") }}
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.inputZip.label(class="form-label") }}
        {% if form.inputZip.errors %}
          {{ form.inputZip(class="form-control is-invalid") }}
          {% for error in form.inputZip.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% else %}
          {{ form.inputZip(class="form-control") }}
        {% endif %}

      </div>
      <div class="mt-4">
        {{ form.submit(class='btn btn-light text-dark btn-primary') }}
      </div>
    </form>
  </div>
{% endblock %}