{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>

  <div class="carousel-inner">
      <div class="carousel-item active"
           style="height:36rem;
                  background:#FADADD;
                  text-shadow: 3px 3px 2px #787273;
                  position: relative;
                  font-size: 3rem;">
          <div class="overlay-image"
               style="background-image: url(static/images/makeup.jpg);
                      position: absolute;
                      bottom:0;
                      left:0;
                      right:0;
                      top:0;
                      background-position:center;
                      background-size: cover;
                      opacity: 0.7;">
          </div>
        <div class="container" style="position: absolute; bottom:0; left:0; right:0; padding-bottom:100px;">
          <h1 style="text-transform: uppercase;">Feminstant</h1>
          <p style="text-transform: uppercase;">Feminine products in an Instant</p>
          <a href="{{ url_for('makeup_products_page') }}" class ="btn"
             style="font-size: 2rem;
                    text-transform: uppercase;
                    justify-content: center;
                    display: flex;
                    color: black;
                    background-color: pink;
                    letter-spacing: .1rem;">Shop
          </a>
        </div>
      </div>

      <div class="carousel-item"
           style="height:36rem;
                  background:#FADADD;
                  text-shadow: 3px 3px 2px #787273;
                  position: relative;
                  font-size: 3rem;
                  background-position:center;
                  background-size: cover;
                  background-image: url(static/images/cerave.jpg);">
        <div class="container" style="position: absolute; bottom:0; left:0; right:0; padding-bottom:100px;">
          <h1 style="font-size: 2rem;
                     text-transform: uppercase;
                     justify-content: center;
                     display: flex;
                     color: black;
                     background-color: pink;
                     letter-spacing: .1rem;">Skincare
          </h1>
          <a href="{{ url_for('skincare_products_page') }}" class ="btn"
             style="font-size: 2rem;
                    text-transform: uppercase;
                    justify-content: center;
                    display: flex;
                    color: black;
                    background-color: pink;
                    letter-spacing: .1rem;">Shop
          </a>
        </div>
      </div>

      <div class="carousel-item"
           style="height:36rem;
                  background:#FADADD;
                  text-shadow: 3px 3px 2px #787273;
                  position: relative;
                  font-size: 3rem;">
          <div class="overlay-image"
               style="background-image: url(static/images/pads.png);
                      position: absolute;
                      bottom:0;
                      left:0;
                      right:0;
                      top:0;
                      background-position:center;
                      opacity: 0.7;">
          </div>
        <div class="container" style="position: absolute; bottom:0; left:0; right:0; padding-bottom:100px;">
          <h1 style="font-size: 2rem;
                     text-transform: uppercase;
                     justify-content: center;
                     display: flex;
                     color: black;
                     background-color: pink;
                     letter-spacing: .1rem;">Feminine Hygiene
          </h1>
          <a href="{{ url_for('hygiene_products_page') }}" class ="btn" style="font-size: 2rem;
                                          text-transform: uppercase;
                                          justify-content: center;
                                          display: flex;
                                          color: black;
                                          background-color: pink;
                                          letter-spacing: .1rem;">Shop
          </a>
        </div>
      </div>
  </div>
</div>
{% endblock %}
